body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-image: url('./img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}
.heading{
    font-size: 50px;
    text-align: center;
    letter-spacing: 0.5rem;
    color: #e9ecef;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
}
.stopwatch {
    color: white;
    margin: 0 auto;
    max-width: 650px;
    text-align: center;
}

.display-responsive {
    font-size: 80px;
    margin-bottom: 20px;
}

.controls {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

button {
    font-size: 16px;
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 20px;
    margin: 5px 0;
    text-align: center;
    color: white;
}

.control button,
#clearall {
    font-size: 24px;
    padding: 10px 20px;
    border-radius: 50px;
    margin: 5px;
    border: 2px solid white;
    color: white;
    background-color: #444;
    cursor: pointer;
}

.laps {
    margin-top: 20px;
}

.lap {
    font-size: 15px;
    margin: 5px 0;
}
